.contact_container {
    color: var(--text_color);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh);
    align-items: center;
    justify-content: center;
}

.heading_cont {
    width: 700px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 30px;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-size: 90px;
    line-height: 90px;
    font-weight: 700;
}

.subheading {
    color: var(--subheading-color);
}

form {
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    max-width: 800px;
    height: max-content;

}

.group {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}

.half {
    flex-basis: 50%;
    min-width: 200px;
}

.full {
    flex-basis: 100%;
}

.frmbtncontainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10px;
}

form input, textarea {
    all: unset;
    box-sizing: border-box;
    height: 40px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(53, 51, 52);
}

form textarea {
    height: 100px;
    resize: vertical;
}

form input:focus, textarea:focus {
    border: 2px var(--highlight-color) solid;
}

form label {
    font-size: 12px;
    margin: 5px 0 5px 0;
    font-weight: 600;
    color: gray;
}

form button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    background-color: var(--highlight-color);
    color: black;
    font-weight: 700;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 826px) {
    form{
        padding: 20px;
    }
    .half {
        flex-basis: 100%;
    }
    .heading_cont{
        width: fit-content;
        font-size: 13vw;
        line-height: 13vw;
        padding-right: 50px;
        margin-bottom: 10px;
    }

}