.contact_container {
    color: var(--text_color);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh);
    align-items: center;
    justify-content: center;
}

.heading_cont {
    width: 700px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 40px 0px 20px 0px;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-size: 90px;
    line-height: 90px;
    font-weight: 700;
}

.subheading {
    color: var(--subheading-color);
}

form {
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    max-width: 800px;
    height: max-content;
    position: relative;
}

.group {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}

.half {
    flex-basis: 50%;
    min-width: 200px;
}

.full {
    flex-basis: 100%;
}

.frmbtncontainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10px;
}

form input, textarea {
    all: unset;
    box-sizing: border-box;
    height: 40px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(53, 51, 52);
}

form textarea {
    height: 200px;
    resize: vertical;
    max-height: 300px;
    min-height: 50px;
}

form input:focus, textarea:focus {
    border: 2px var(--highlight-color) solid;
}

form label {
    font-size: 12px;
    margin: 5px 0 5px 0;
    font-weight: 600;
    color: gray;
}

form button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    background-color: var(--highlight-color);
}

.selectbox {
    position: absolute;
    width: calc(100% - 40px);
    top:120px;
    border-radius: 8px;
    background-color: rgba(25, 24, 25, 0.5);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    padding: 10px 0 10px 5%;
    margin-top: 2px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}
@keyframes options {
    from{
        top:120px;
        opacity: 0;
        visibility: hidden;
    }
    to{
        top:178px;
        opacity: 1;
        visibility: visible;
    }
    
}

.options {
    box-sizing: border-box;
    width: 90%;
    padding: 5px;
    cursor: pointer;
}
.options:hover{
    background-image:linear-gradient(90deg,rgba(53, 51, 52, 0)-20%,rgba(80, 77, 79, 0.7)20%, rgba(53, 51, 52, 0));
}


.btnnamecontainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    mask-image: linear-gradient(transparent, black, black  , transparent );     
}
.btnname{
    font-weight: 700;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-size: 20px;
    color: black;
    height: 100%;
    width: 100%;
    position: relative;
}
.btnname::before{
    content: 'Submit';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    animation: var(--submitanimation);
}
.btnname::after{
    text-align: center;
    content: 'Thank You !';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0px;
    height: 100%;
    width: 100%;
    animation: var(--submitanimation);
}
@keyframes submit {
    0%{
        transform: translateY(0%);
    }
    20%{
        transform: translateY(-100%);
    }
    80%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
    
}



@media screen and (max-width: 826px) {
    form {
        padding: 0 20px 20px 20px;
    }

    .half {
        flex-basis: 100%;
    }

    .heading_cont {
        width: fit-content;
        font-size: 13vw;
        line-height: 13vw;
        padding-right: 50px;
        margin: 60px 0 10px 0;
    }
    form textarea {
        height: 100px;
    }

    .selectbox {
        width: calc(100% - 60px);
       }
}