/* ---------------------------------------------------------- Avatar -------------------------------------------------------------- */

.container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    color:var(--text_color);
    justify-content: center;
    align-items: center;
}::-webkit-scrollbar {
    display: none;
}

.bodycontainer {
    width: 300px;
    height: 450px;
    position: relative;
    transform: scale(1);
    filter: invert();
    margin-left: 10vw;
}

.face {
    width: 200px;
    height: 230px;
    mix-blend-mode: darken;
    transition: transform 0.3s ease-out;
}

.eyebroLeft {
    width: 35px;
    height: 7px;
    position: absolute;
    left: 118px;
    top: 97px;
    transform: rotate(8deg);
    mix-blend-mode: darken; 
    transition: transform 0.3s ease-out;
}

.eyebroRight {
    width: 35px;
    height: 7px;
    position: absolute;
    left: 45px;
    top: 97px;
    transform: rotate(-8deg);
    mix-blend-mode: darken;
    transition: transform 0.3s ease-out;
}

.eyeLeft {
    width: 15px;
    position: absolute;
    mix-blend-mode: darken;
    left: 60px;
    top: 122px;
    transition: transform 0.3s ease-out;
}

.eyeRight {
    width: 15px;
    position: absolute;
    left: 127px;
    top: 122px;
    mix-blend-mode: darken;
    transition: transform 0.3s ease-out;
}

.body {
    width: 325px;
    position: absolute;
    left: -60px;
    top: 216px;
    mix-blend-mode: darken;
}

/* ---------------------------------------------------------- Heading -------------------------------------------------------------- */

.headline {
display: flex;
flex-direction: column;
    margin-right: 1vw;
    padding: 20px;
    box-sizing: border-box;

}

.line1 {
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1px;
    padding-left: 7px;
    color:var(--highlight-color);
}

.name {
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -2px;
    word-spacing: 10px;
    color:var(--text_color);
}

.whatIdo {
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    color:var(--subheading-color);
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -2px;
    padding-left: 7px;
}

.actioncall {
    display: flex;
    justify-content: center;
    color:var(--text_color);
}

.actioncall button {
    
    all: unset;
    cursor: pointer;
    width: fit-content;
    height: 50px;
    border: var(--text_color) 2px solid;
    margin: 20px 10px 5px 10px;
    padding: 2px 15px;
    border-radius: 50px / 100%;
    display: flex;
}

.actioncall button .SVGs {
    width: 30px;
    height: 30px;
    display: flex;
    margin: 5px 5px 0 0;
    padding: 5px 0;
    
    
}

.btntxt {
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.2rem;
}

.MyLinks {
    margin-top: 10px;
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: space-between;
   align-self: center;
}

.SVGs {
    width: 25px;
    height: 25px;
    padding: 5px 0;
    stroke:var(--text_color);
    fill: none;
}

.SVGs:hover:not(#resume) {
    transform: scale(1.2);
    stroke: var(--highlight-color);
}

@media (max-width:1176px) {
    .name {
        font-size: 40px;
        line-height: 35px;
        padding-left: 3px;
    }

    .whatIdo {
        font-size: 35px;
        line-height: 50px;
    }
}

@media (max-width:825px) {
    .container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }

    .bodycontainer {
        transform: scale(0.6);
    }

    .name {
        font-size: min(11vw, 70px);
        font-weight: 500;
        line-height: 12vw;
        padding-left: 3px;
        letter-spacing: -1px;
        word-spacing: 5px;
        
    }

    .whatIdo {
        font-size: min(7vw, 50px);
        line-height: 8vw;
        letter-spacing: -1px;
        padding-left: 3px;

    }
    .btntxt {
        font-size: 4.5vw;
    }
.MyLinks {
width: 80%;
}
}