.navbar {
    background-image: linear-gradient(hsla(204, 100%, 1%, 0.495) 80%,transparent);
    display: flex;
    justify-content: space-between;
    height: 100px;
    overflow: visible;
    position: sticky;
    top: 0px;
    transition: 0.2s ease-in;
    z-index: 3;
}

.shadow {
    box-shadow: var(--shadow-color) 0px 0px 20px -15px;
    background: hsla(204, 100%, 1%, 0.45);
    backdrop-filter: blur(8px);
}

.logocontainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
    transform: scale(1.2);
    transition: 0.3s linear ;
}

.logo {
    stroke: rgb(7, 7, 20);
    stroke-width: 7;
    width: 60px;
    height: 60px;
    stroke: var(--highlight-color);
    transition: transform 0.1s ease-out;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.Slogo {
    font: "Times New Roman";
    position: absolute;
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    color: var(--text_color);
    padding-bottom: 10px;
}

.navlinks_container {
    margin-right: 1.5vw;
}

.navlinks {
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    gap: 50px;
    align-items: center;
    list-style: decimal-leading-zero;
    color: var(--normal_txt-color);
}


.nav_link {
    list-style: none;
    cursor: pointer;
    line-height: 30px;
    transition: 0.3s linear;
}

.navHidden{
    transform: translateY(-50px);
    opacity: 0;
}

.active{
    height: 50px;
    width: var(--length);
    background-color: var(--highlight-color);
    position: absolute;
    margin-left: -15px;
    z-index: -1;
    transition: 0.25s ease-out;
    border-radius: 25px;
    left: var(--x);
}

a {
    text-decoration: none;
    color: inherit;
}

.btn_li {
    list-style: none;
    transition: 0.2s;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}

.resumeBTN {
    all: unset;
    cursor: pointer;
    width: fit-content;
    height: 40px;
    box-sizing: border-box;
    border: var(--highlight-color) 2px solid;
    padding: 0px 15px 0px 0px;
    border-radius: 10px;
    display: flex;
    margin-left: -20px;
}

.navbtnsvg {
    display: flex;
    margin: 0px 5px 0px 5px;
    padding: 5px 0;
    width: 25px;
    height: 25px;
    padding: 5px;
    stroke: var(--normal_txt-color);
    fill: none;
}

.navbtntext {
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.2rem;
}

.hamBContainer {
    width: 50px;
    align-items: center;
    justify-content: center;
    display: none;
}

.hamb {
    stroke: var(--normal_txt-color);
}


@media (max-width:826px) {
    .logocontainer {
        margin: 20px 0px 0px 20px;
        transform: scale(1.1);
    }

    .hamBContainer {
        display: flex;
    }

    li:not(:has(button, SVG)) {
        display: none;
    }
.active{
    display: none;
}

    .hamBContainer {
        display: flex;
    }

    .resumeBTN {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: fit-content;
        box-sizing: border-box;
        padding: 4px;
    }

    .navlinks {
        gap: 1px;
    }

    .navbtnsvg {
        margin: 0px;
        padding: 0;
        /* border: 2px red solid; */
    }

    .navbtntext {
        content: 'cv';
        font-size: 0.8rem;
        /* border: 2px red solid; */
        height: fit-content;
    }
    .Slogo {
        transform: translateY(2px);
    }

}